// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, 0.8);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  &:target {
    visibility: visible;
    opacity: 1;
  }

  &__content {
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__close {
    &:link,
    &:visited {
      color: $color-grey-dark;
      position: absolute;

      font-size: 2rem;
      text-decoration: none;
      display: inline-block;
      transition: all 0.2s;
      line-height: 1;
    }

    &:hover {
      color: #f9004d;
    }
  }
}

.composition {
  position: relative;

  &__photo {
    width: 40%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    // border-radius: px;
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 10px;

    &--p1 {
      left: 71px;
      top: 2rem;
    }

    &--p2 {
      right: 1rem;
      top: 2rem;
    }

    &--p3 {
      left: 27%;
      top: 7rem;
    }

    &:hover {
      outline: 10px solid #f9004d;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      z-index: 20;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
  //composition:hover composition__photo:not(:hover) {
}
