.scrolling-active {
  background-color: rgb(252, 252, 252);
  /* background-color: rgb(2, 2, 2); */
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
}
.scrolling-active .text-logo {
  color: #1f1f25;
}

.scrolling-active .scroll-link {
  color: #1f1f25;
}
.scrolling-active .scroll-btn {
  color: #1f1f25;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.current {
  background: #f9004d;
  padding: 10px;
  color: #fff;
}

.current a {
  color: #fff;
}

@media (max-width: 700px) {
  .current {
    background: transparent;
    padding: 0;
    color: #fff;
  }
  .current a {
    color: #f9004d;
  }
}

.hero-section {
  width: 100%;
  height: 95vh;
  position: relative;
  color: #fdfdff;
  background: #101010;
  background-position: center;
  background-size: cover;
  font-size: 16px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

#me {
  margin-top: -20vh;
  padding: 18rem 0;
}
.progress-bar {
  transform: skewY(-7deg);
  margin-top: -10rem;
}

.progress-bar > * {
  transform: skewy(7deg);
}
.about-img {
  display: inline-block;
  transform: scale(1.05);
  outline: 0.5rem solid #150941;
  box-shadow: 5px 5px 19px -1px rgb(0 0 0 / 60%);
  outline-offset: 1rem;
  /* margin-top: 2rem; */
}

.btn-see-resume:hover a {
  color: #fff;
  transition: all 0.2s;
}

.text-failure {
  letter-spacing: 8px;
  margin-bottom: 10px;
  font-size: 15px;
  color: rgba(198, 201, 216, 0.75) !important;
}

.mystyle {
  color: blue;
}

.card-details li {
  font-size: 15px;
  text-transform: uppercase;
  border-bottom: 1px solid #ddd;
}

.card-details {
  width: 80%;
  height: 50%;
  list-style: none;
  margin: 0 auto;
  text-align: center;
}

.img-clip {
  background-image: url(./image/trillo.png);
  background-size: cover;
  height: 50%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.shadow {
  box-shadow: 0 5px 20px rgb(0 0 0/6%) !important;
}
